*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.5;
    background-color: blanchedalmond;
}

ul{
    list-style: square;
}

img{
    max-width: 90%;
    vertical-align: middle;
}

/* Class chung */

.container{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background: cadetblue;
}

.row{
    word-spacing: -1ch;
}

.item{
    word-spacing: normal;
    display: inline-block;
    vertical-align: top;

}

/* Navigation */

.main{
    width: 75%;
}

.aside{
    width: 25%;
}

/* Main */

.section .item{
    width: 25%;
    height: 150px;
}

