.menu-item{
    word-spacing: normal;
    display: inline-block;
    vertical-align: top;
    background-color: #7e5811;
    position: relative;

}

.menu-link{
    display: block;
    padding: 10px;
    background-color: blue ;
    text-decoration: none;
    color: white;
    text-align: center;
    width: 140px;
    height: 340px;
    line-height: 340px;

}

.menu{
    word-spacing: -1ch;
}
ul{
    list-style-type: none;
    padding: 0;

}

.nav{
    position: relative;
    z-index: 10;
}
/* body:hover{
    background-color: slategrey;
} */

.menu-link.active, .menu-link:hover{
    background-color: teal;
    color: tomato;
}

.sub-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 150%;
}

/* .sub-menu { 
    display: block;
    background-color: blue ;
    text-decoration: none;
    color: white;

} */



.menu-item:hover .sub-menu{
    display: block;
}

.sub-link{
    display: block;
    padding: 15px;
    background-color: burlywood;
    text-decoration: none;
    color: white;

}
.sub-link:hover{
    background-color: teal;
    color:whitesmoke;
}

.sub-item{
    position: relative;
}
.sub-item:hover .third-menu{
    display:block;
}
/* menu3  */

.third-link{
    display: block;
    padding: 15px;
    background-color: burlywood;
    text-decoration: none;
    color: white;
}

.third-link:hover{
    background-color: teal;
    color: tomato;
}

.third-menu{
    display:none;
    position: absolute;
    left: 100%;
    top:0 ;
    width: 100%;
}

.tel{
    position: fixed;
    background-color: violet;
    bottom: 20px;
    right: 20px;
    bottom: 30px;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
}

img{
    max-width: 100%;
}
.wrapper{
    position: relative;
    width: 200px;
    height: 200px;
    z-index: -1;

}

wrapper:hover .overlay{
    display: block;
}

.overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 18, 18);
    
}