body{
    font: larger;
    text-align: center;
}
h1,h2,h3{
    color: brown;
}
body{
    margin-left: 100px;
    margin-right: 100px;
}
h1{
    font-size: 60px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
}

ul{
    font-size: larger;
    color: brown;

}

.contact{
    list-style-type: none;
    color: brown;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 60mm;
    margin-right: 60mm;
}

.about1{
    font-size: 30px;
    list-style-type: none;
    
}