

.header{
    position: fixed;
    top: 40px;

    height: 100px;
    width: 100%;
    background-color: whitesmoke;
    border: thistle;
}

.container{

    width: 600px;
    height: max-content;
    background: wheat;
    align-self: center;
}