
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input , option , select , label{
    display: block;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
  }
  

.container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
}

@media (min-width: 576px) {
    .container {
     max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
}

.main-content{
    
}