*{
    box-sizing: border-box;
}

input[type="checkbox"] {
    width: 20px;
}

input , select {
    height: 30px;
}

.input-group{
    display: inline-block;
}

.option-group{
    display: block;
}

.form-group > label {
    display: inline-block;
    width: 150px;
    vertical-align: top;
}

.option-group .input-group{
    margin-left: 150px;
    display: block;
}

.button-group {
    display: inline-block;
    margin-left: 150px;
}

.form-group{
    padding: 10px;
}

input:focus{
    border-color: red;
}