@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: url(fabian-mardi-kVKz9qnJC-k-unsplash.jpg);

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-size: cover ;
    height : 100%;
    background-position: center center;

    min-height: 100vh;
}

.countdown-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    font-size: 3em;
    margin-top:  -500px;
}
.c-elem{
    text-align: center;
    margin: 10px 20px;
}

.c-elem span{
    text-align: center;

}

.big-text{
    font-size: 5em;
    margin: 0 2rem;
    font-weight: bolder;  
}


@media (max-width : 500px ){
    h1{
        margin-top : 0px;
    }
}

@media ( max-height : 500px){
    h1{
        margin-top: 0px;
    }
}