@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: url(adam-chang-IWenq-4JHqo-unsplash.jpg);

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-size: cover ;
    min-height: 100vh;
    background-position: center center;

    min-height: 100vh;
}

.countdown-container{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
}

h1{
    font-size: 3em;
    margin-top: -400px;
}

.c-elem{
    text-align: center;
    margin: 10px 20px;
}

.c-elem span{
    text-align: center;

}

.big-text{
    font-size: 5em;
    margin: 0 2rem;
    font-weight: bolder;  
}