*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.5;
    background-color: blanchedalmond;
}

ul{
    list-style: square;
}

img{
    max-width: 90%;
    vertical-align: middle;
}

/* Class chung */

.container{
    width: 1100px;
    height: 1500px;
    margin-left: auto;
    margin-right: auto;
    background: cadetblue;
}

.row{
    word-spacing: -1ch;
}

.item{  
    word-spacing: normal;
    display: inline-block;
    vertical-align: top;

}
/* Header */
.header{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

/* Navigation */
.menu-link{
    display: block;
    background-color: aquamarine;
    padding: 10px;
}

.menu-link.active{
    background-color:rgba(aquamarine, aquamarine,aquamarine , 0.5);
    color: rgb(162, 13, 207);

}
/* Main content */

.main{
    width: 75%;
}

.aside{
    width: 25%;
    background-color: salmon;
}

/* Main */

.section .item{
    width: 24%;
    height: 150px;
    background-color: chocolate;
}

.menu-item{
    background-color: darkgray;
}