@media( min-width : 1200px){
    .container {
        max-width: 1060px;
    }
}

@media( min-width : 1400px ){
    .container{
        max-width: 1060px;
    }
}

.playfair{
    font-family: 'Playfair Display', serif;
}

.ubutu{
    font-family: "Ubuntu";
}