:root{
    --font-roboto: 'Roboto', sans-serif;
    --main-color: #ff817e;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

ul,il{
    list-style: none;
}

html{
    line-height: 27px;
    font-family: var(--font-roboto);
    font-size: 15px;
    font-weight: 300;
    color: ;

}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rufina', serif;
    font-weight: 700;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color:
}
.flex{
    display: flex;
}
.row{
    display:flex;
    flex-flow: row wrap;
}


.col-1{
    width: 100%/12;
}

.col-2{
    flex-basis: 16.67%;
}

.col-3{
    flex-basis: 25%;
}

.col-4{
    flex-basis: 33.33%;
}

.col-5{
    flex-basis: 41.66%;
}
.col-6{
    flex-basis: 50%;
}
.col-7{
    flex-basis: 58.33%
}
.col-8{
    flex-basis: 66.67%;
}
.col-9{
    flex-basis: 75%;
}
.col-10{
    flex-basis: 83.33;
}
.col-11{
    flex-basis: 91.67%;
}

.col-12{
    flex-basis: 100%;
}

.order1{
    order: 1;
}
.order2{
    order: 2;
}
.order3{
    order: 3;
}
.order4{
    order: 4;
}
.order5{
    order: 5;
}
.order6{
    order: 6;
}

.flex.column{
    flex-direction: column;
}

.flex.j-start{
    justify-content: start;
}
.flex.j-end{
    justify-content: flex-end;
}
.flex.j-between{
    justify-content: space-between;
}
.flex.j-center{
    justify-content: center;
}
.flex.a-center{
    align-content: center;
}
.flex.a-start{
    align-content: flex-start;
}
.flex.a-end{
    align-content: flex-end;
}

/* menu */

.menu-item{
    padding: 0 20px;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
}

.right-banner-img{
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
}

.left-banner-img{
    position: absolute;
    top: 250px;
    left: 0;
}
/* banner */
.banner{
    margin-top: 200px;
    margin-bottom: 200px;
}
.banner > h3{
    color: var(--main-color);
    font-family: "Rufina", serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
}

.banner > h1{
    color: black;
    font-size: 60px;
    line-height: 75px;
    margin-bottom: 25px;
}

.banner p{
    color: #555;
    margin-bottom: 50px;
}

.reserve{
    display: inline-block;
    color: white;
    background-color:var(--main-color);
    padding: 20px 30px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 0.8;
    font-size: 16px;
}

.video-story{
    padding: 20px 30px;
    font-weight: 400px;
}

.bi-play-circle{
    color: var(--main-color);
}
/* about-spa */
.about-spa{
    align-self: center;
}
.about-spa * {
    text-align: center;
}

.about-spa img {
    position: relative;
    margin-left: 408px;
    margin-right: 408px;
    margin-bottom: 20px;
}

.about-spa h3{
    font-size: 20px;
    font-weight: 400px;
    line-height: .8;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #888;
    font-family: var(--font-roboto);
}

.about-spa h1{
    font-size: 42px;
    margin-bottom: 40px;
    
}

.about-spa a{
    position: absolute;
    padding: 20px 70px;
    background-color: var(--main-color);
    font-weight: 700;
    color: white;
    border-radius: 50px;
    margin-left: 350px;
    margin-top: 50px;
}

